In [1]:
8 + 7
8 - 7
8 * 7
8 / 7
8 ** 2
8 % 7

1

In [2]:
print ("開始輸出")
print (1, 2, 3)
print (1, 2, 3, sep = " ", end = " ")
print(4, 5, 6, sep="|", end="\n")

開始輸出
1 2 3
1 2 3 4|5|6

In [3]:
score = 66
print("⼤明的數學成績：%d" % score)
print("%5s的數學成績：%5.2f" %("Jenny", 95))
print("%5s的數學成績：%5.2f" %("Andy", 80.2))
print("{0}今年{1}歲。" .format("王⼩明" , 18))
print("{name}今年{age}歲。" .format(name = "王⼩明" , age = 18))

⼤明的數學成績：66
Jenny的數學成績：95.00
 Andy的數學成績：80.20
王⼩明今年18歲。
王⼩明今年18歲。

In [4]:
x = "5"
num = 5 + int(x)
print(num)

10

In [5]:
x = "5.3"
num = 5 + float(x)
print(num)

10.3

In [6]:
x = "5.3"
num = 5 + float(x)
print("輸出的數值是" + str(num))

輸出的數值是10.3

In [7]:
8 == 7
8 != 7
8 > 7
8 < 7
8 > 7

True

In [9]:
True and True
True and False
False & True
False & False
print("True and True")
True or True
True or False
False | True
False | False
print (not True)
print (not False)

True and True
False
True

In [10]:
8 + True
8 - False
8 * False
8 / True

8.0

In [11]:
True == 1
True == 1.0
True == 1 + 0j
print("---")
False == 0
False == 0.0
False == 0 + 0j

---

True

In [12]:
'I am loving it!'
'I\'m loving it!'
'I don\'t think you\'ll ever be just "anybody".'
"I don't think you'll ever be just \"anybody\"."

'I don\'t think you\'ll ever be just "anybody".'

In [14]:
str1 = "Hello!" + "How Are You?"
print(str1)
str2 = "Hello!" * 3
print(str2)
str3 = "Hello!\nHow Are You?"
print(str3)
print ("I'm" + " loving" + " it!")
print ("I'm loving it" + "!" * 3)

Hello!How Are You?
Hello!Hello!Hello!
Hello!
How Are You?
I'm loving it!
I'm loving it!!!

In [15]:
str = "ABCDEFGHIJK"
print(str[0])
print(str[-2])
print(str[:7:2])
print(str[2::2])
print(str[::2])
str1 = "Do \none \nthing \nat a time!"
print(str1.split())
print(str1.split( ' ', 2 ))

A
J
ACEG
CEGIK
ACEGIK
['Do', 'one', 'thing', 'at', 'a', 'time!']
['Do', '\none', '\nthing \nat a time!']

In [16]:
str = "The first wealth is health! Health is important!"
print ("{},長度是{}" .format(str, len(str)))
print(str.upper())
print(str.lower())
print("health".capitalize())
str.islower()
str.count("health")
str.strip("h!")
str.replace("important", "重要")

The first wealth is health! Health is important!,長度是48
THE FIRST WEALTH IS HEALTH! HEALTH IS IMPORTANT!
the first wealth is health! health is important!
Health

'The first wealth is health! Health is 重要!'

In [22]:
from datetime import date
sys_date = date.today()
print (type(sys_date))

<class 'datetime.date'>

In [20]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = date(2017, 12, 31)
start_of_2017
end_of_2017

datetime.date(2017, 12, 31)

In [23]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
start_of_2018 = start_of_2017.replace(year = 2018)
start_of_2018

datetime.date(2018, 1, 1)

In [24]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31)
days_dff = end_of_2017 - start_of_2017
days_dff.days

364

In [25]:
from datetime import time
sleep_time = time(23, 0, 0)
sleep_time
type(sleep_time)

datetime.time

In [26]:
from datetime import time
sleep_time = time(23, 0, 0)
wake_up_time = sleep_time.replace(hour = 7)
wake_up_time

datetime.time(7, 0)

In [27]:
from datetime import datetime
sys_datetime = datetime.now()
sys_datetime
type(sys_datetime)

datetime.datetime

In [28]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 0)
start_of_2017

datetime.datetime(2017, 1, 1, 0, 0)

In [29]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
end_of_2017

datetime.datetime(2017, 12, 31, 23, 59, 59)

In [30]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
date_time_diff = end_of_2017 - start_of_2017
date_time_diff.days
date_time_diff.seconds

86398

In [31]:
starring_1 = "Jennifer Aniston"
starring_2 = "Courteney Cox"
starring_3 = "Lisa Kudrow"
starring_4 = "Matt LeBlanc"
starring_5 = "Matthew Perry"
starring_6 = "David Schwimmer"

In [32]:
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [33]:
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
friends
type(friends)

list

In [34]:
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls = [team_name, wins, losses, win_percentage, is_champion]

In [38]:
fruitlist = ["Apple", "Orange", "Lemon"]
print(len(fruitlist))
fruitlist[1] ="Kiwi"
fruitlist.append("Mongo")
fruiutlist.insert(1, "banana")
fruitlist.remove("Orange")
fruitlist.pop(1)
fruitlist.sort()

3

NameError: name 'fruiutlist' is not defined

In [39]:
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings[0]
starrings[-1]
starrings[:3]
starrings[3:]

['Matt LeBlanc', 'Matthew Perry', 'David Schwimmer']

In [40]:
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
type(friends[0])
type(friends[1])
type(friends[2])

bool

In [41]:
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls_list = [team_name, wins, losses, win_percentage, is_champion]
chicago_bulls_tuple = (team_name, wins, losses, win_percentage, is_champion)
#或 chicago_bulls_tuple = tuple(chicago_bulls_list)

In [42]:
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings_tuple = tuple(starrings_list)
starrings_tuple
type(starrings_tuple)

tuple

In [43]:
starrings_tuple = ("Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer")
starrings_tuple
type(starrings_tuple)

tuple

In [46]:
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry"]
starrings_list.append("David Schwimmer")
starrings_list

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']

In [47]:
# 例⼀
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls_list = [team_name, wins, losses, win_percentage, is_champion]
chicago_bulls_tuple = (team_name, wins, losses, win_percentage, is_champion)
#或 chicago_bulls_tuple = tuple(chicago_bulls_list)
# 例⼆
# 使⽤ tuple 函數
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings_tuple = tuple(starrings_list)
starrings_tuple
type(starrings_tuple)
# 使⽤⼩括號
starrings_tuple = ("Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer")
starrings_tuple
type(starrings_tuple)
# list 可以新增
starrings_list = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry"]
starrings_list.append("David Schwimmer")
starrings_list
# tuple 不可以新增
starrings_tuple = ("Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry")
starrings_tuple.append("David Schwimmer")

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
gender_list = ["female", "female", "female", "male", "male", "male"]
gender_set = set(gender_list)
gender_set
type(gender_set)

set

In [49]:
gender_set = {"female", "female", "female", "male", "male", "male"}
gender_set
type(gender_set)

set

In [52]:
animal = {"bird" , "cat" , "dog" }
animal.add("fish")
print(animal)
animal.remove("cat")
print(animal)
animal.update({"bird", "monkey"})
print(animal)
print("fish" in animal)
print("monkey" in animal)
zooA ={"bird" , "cat" , "dog" , "pig"}
zooB ={"wolf" , "cat", "dog" , "turtle"}
print(zooA & zooB)
print(zooA | zooB)
print(zooA - zooB)
print(zooA ^ zooB)

{'dog', 'cat', 'fish', 'bird'}
{'dog', 'fish', 'bird'}
{'fish', 'bird', 'dog', 'monkey'}
True
True
{'dog', 'cat'}
{'wolf', 'bird', 'turtle', 'dog', 'pig', 'cat'}
{'pig', 'bird'}
{'wolf', 'bird', 'turtle', 'pig'}

In [54]:
#於它沒有辦法利⽤中括號與索引值選取元素
gender_set = {"female", "female", "female", "male", "male", "male"}
gender_set[0]

TypeError: 'set' object does not support indexing

In [57]:
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls = {
 "team_name": team_name,
 "wins": wins,
 "losses": losses,
 "win_percentage": win_percentage,
 "is_champion": is_champion
}

In [58]:
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
type(friends_dict)

dict

In [59]:
dic = {"name": "Andy", "age":18, "city":"台北"}
dic.clear()
print(dic)
dicA = {"name": "Andy", "age":18, "city":"⾼雄"}
dic = dicA.copy()
print(dic)
dic.get("age")
dic.pop("city")
dic.update(dicA)
print(dic)
print(dic.items())
print(dic.keys())
print(dic.values())

{}
{'name': 'Andy', 'age': 18, 'city': '⾼雄'}
{'name': 'Andy', 'age': 18, 'city': '⾼雄'}
dict_items([('name', 'Andy'), ('age', 18), ('city', '⾼雄')])
dict_keys(['name', 'age', 'city'])
dict_values(['Andy', 18, '⾼雄'])

In [60]:
friends_dict = {
 "genre": "sitcom",
 "seasons": 10,
 "episodes": 236,
 "starrings": ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
}
friends_dict["genre"]
friends_dict["seasons"]
friends_dict["episodes"]
friends_dict["starrings"]

['Jennifer Aniston',
 'Courteney Cox',
 'Lisa Kudrow',
 'Matt LeBlanc',
 'Matthew Perry',
 'David Schwimmer']